{% extends 'base.html' %}

{%block conteudo%}
     <h1 class="mt-5">Minha agenda</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>descricao</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>
              <a href="#">{{ item.nome }}</a>
            </td>
            <td>{{ item.descricao}}</td>
            <td>{{ item.categoria}}</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
{%endblock%}