{% extends 'base.html' %}

{%block titulo%}{{item.nome}} | {%endblock%}

{%block conteudo%}
    <h1 class="mt-5">João Moreira</h1>
    {% if item.foto %}
      <p>
        <img src="{{ item.foto.url }}" style="max-width: 250px; height: auto;">
      </p>
    {% endif %}
      <dl>
        <dt>ID</dt>
        <dd>{{item.id}}</dd>

        <dt>nome</dt>
        <dd>{{item.nome}}</dd>

        <dt>descricao</dt>
        <dd>{{item.descricao}}</dd>

        <dt>Categoria</dt>
        <dd>{{item.categoria}}</dd>

        <dt>ocultar</dt>
        <dd>{{item.ocultar}}</dd>
      </dl>
{%endblock%}