{% extends 'base.html' %}

{%block titulo%}Dashboard | {{user}} {%endblock%}

{% block conteudo %}
<h1 class="mt-3 mb-3">Olá {{ user.first_name }}</h1>
<a href="{% url 'logout' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Logout</a>

<h1 class="mt-5">Menu</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>descricao</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      {% if item.ocultar == False %}
        <tr>
          <td>
            <a href="{% url 'vw_item' item.id %}">{{ item.nome }}</a>
          </td>
          <td>{{ item.descricao}}</td>
          <td>{{ item.categoria}}</td>
        </tr>
      {% endif%}
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
<ul class="pagination">
  {% for pagina in items.paginator.page_range %}
    {% if items.number == pagina %}
      <li class="page-item active">
        <a class="page-link" href="?page={{ pagina }}&busca={{ request.GET.termo }}">{{pagina}}</a>
      </li>
    {% else %}
       <li class="page-item">
        <a class="page-link" href="?page={{ pagina }}&busca={{ request.GET.termo }}">{{pagina}}</a>
       </li>
    {% endif %}
  {% endfor %}
</ul>
</nav>

{% endblock %}